<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Categories</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body style="background: -webkit-linear-gradient(to right, #00467f, #a5cc82);
  background: linear-gradient(to right, #00467f, #a5cc82);">
  <div class="container text-center">
    <h1 class="text-center text-white mt-1">List Categories</h1>
    <table class="table table-bordered text-white">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <th:block th:each="category : ${listCategories}">
       <tr>
         <td>[[${category.id}]]</td>
         <td>[[${category.name}]]</td>
       </tr>
    </th:block>
  </tbody>
  </table>
  </div>
</body>
</html>