<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Product</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background: -webkit-linear-gradient(to right, #00467f, #a5cc82);
  background: linear-gradient(to right, #00467f, #a5cc82);">
  <div class="container">
    <h1 class="text-center" th:unless="${product.id==null}">Add Or Edit Product</h1>
    <div class="container mt-5">
    <div class="col-md-6 offset-md-3">
       <div class="card">
    <div class="card-body">
       <form th:action="@{/product/save}" th:object="${product}" method="post">
       <input type="hidden" th:field="*{id}" th:value="${product.id}" />
  <div class="form-group">
    <label for="exampleInputEmail1">Product Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{name}" aria-describedby="emailHelp" placeholder="Enter Product Name" required="required" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Product price</label>
    <input type="number" class="form-control" id="exampleInputEmail1" th:field="*{price}" step="0.1" aria-describedby="emailHelp" placeholder="Enter Product price" required="required" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Categories</label>
    <select name="" id="" th:field="*{category}" class="form-control" required="required">
      <th:block th:each="cat : ${listCategories}">
        <option th:text="${cat.name}" th:value="${cat.id}" />
      </th:block>
    </select>
  </div>
  <div class="container text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
    </div>
  </div>
    </div>
  </div>
  </div>
</body>
</html>